.required-override input[type="text"]:focus {
    border-color: red;
}


.input-append .btn.dropdown-toggle {
    float: none;
}

/* this works and colours the headers */
.table-condensed thead tr th{
    background-color: lightblue ;
    font-size: 0.8em !important;
    height: 15px;
}

/* this doesnt do a thing on any <thead class="thead-blue" - no idea why  */
.thead-blue thead tr th{
    background-color: cornflowerblue !important;
}

