.required-override input[type="text"]:focus {
    border-color: red;
}


.input-append .btn.dropdown-toggle {
    float: none;
}

.table-condensed thead tr th{
    font-size: 0.8em;
    padding: 10px 20px 5px 0 !important;
    height: 15px;
}

.thead thead-blue  thead {
    background-color: cornflowerblue !important;
}

.table-hover>thead>tr.no-hover:hover {
    background-color: cornflowerblue;
}